#body-content {
    overflow: auto;
  }
  #body-content.hide {
    overflow-x: auto;
    overflow-y: hidden;
  }
/*  
.popup {
  transition: transform 5s ease-in, opacity 3s ease-out;
} */
.popup.hidden {
    opacity: 0;
    transform: translateY(-100%);
}
.popup.visible {
  transform: translateY(0%);
  opacity: 1;
  top:0;
}
